<%= render "layouts/nav_up" %>

<h1><%= @info["title"] %> Gallery</h1>
<h2><%= @info["description"] %></h2>

<% $videos_length = 0 %>
<% @videos.each do |video| %>
    <% $videos_length += 1 %>
<% end %>
<% if $videos_length < @length.to_i %>
    <% @length = $videos_length %>
<% elsif @length.to_i == 0 %>
    <% @length = $videos_length %>
<% end %>
<% $rows = (@length.to_i / 3) - 1 %>
<% $columns = 3 - 1 %>
<% @length = @length.to_i - 1 %>
<% if $rows < 0 %>
    <% $rows = 0 %>
    <% $columns = @length.to_i %>
<% end %>

<div class="table-responsive" >
    <table class="table">
        <% for i in 0..$rows %>
        <tr>
            <% for j in 0..$columns %>
            <td>
                <%= link_to image_tag(  @videos[j + (i * ($columns + 1))]["thumbnail_large"], size: "280x158"),
                                        gallery_show_path(  :controller => "gallery",
                                                            :action => "show",
                                                            :option => @option,
                                                            :video_id => @videos[j + (i * ($columns + 1))]["id"])%>
                <p><%= @videos[j + (i * ($columns + 1))]["description"] %></p>
            </td>
            <% end %>
        </tr>
        <% end %>
        <tr>
            <% j += 1 %>
            <% for k in j + (i * ($columns + 1))..@length.to_i %>
            <td>
                <%= link_to image_tag(@videos[k]["thumbnail_large"], size: "280x158"), gallery_show_path(:controller => "gallery", :action => "show", :video_id => @videos[k]["id"], :description => @videos[k]["description"]) %>
                <p><%= @videos[j + (i * ($columns + 1))]["description"] %></p>
            </td>
            <% end %>
        </tr>
    </table>
</div>

<%= render "layouts/nav_down" %>