<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @christening.video_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @christening.description %>
</p>

<%= link_to 'Edit', edit_christening_path(@christening) %> |
<%= link_to 'Back', christenings_path %>
