<p id="notice"><%= notice %></p>

<h1>Weddings</h1>

<table>
  <thead>
    <tr>
      <th>Video</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weddings.each do |wedding| %>
      <tr>
        <td><%= wedding.video_id %></td>
        <td><%= wedding.description %></td>
        <td><%= link_to 'Show', wedding %></td>
        <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
        <td><%= link_to 'Destroy', wedding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wedding', new_wedding_path %>
