<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @wedding.video_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wedding.description %>
</p>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
