<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="dropdown">
                <button class="button_custom_animated dropdown-toggle" type="button" data-toggle="dropdown">
                   <span>Photolens</span>
                </button>
                <div class="dropdown_content">
                    <%= link_to "Christenings", gallery_showAll_path(:controller => "gallery", :action => "showAll", :option => "christening") %>
                    <%= link_to "Weddings", gallery_showAll_path(:controller => "gallery", :action => "showAll", :option => "wedding") %>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="float: right">
                <li>
                    <%= link_to "Gallery", gallery_showAll_path(:controller => "gallery", :action => "showAll", :option => @option) %>
                </li>
                <li>
                    <%= link_to "Services", services_show_path(:controller => "services", :action => "show", :option => @option) %>
                </li>
                <li>
                    <%= link_to "Bio", info_bio_path(:controller => "info", :action => "bio", :option => @option) %>
                </li>
                <li>
                    <%= link_to "Contact Us", info_contact_us_path(:controller => "info", :action => "contact_us", :option => @option) %>
                </li>
                <% if current_user %>
                <li>
                    <%= link_to "New Post", new_post_path(:controller => "post", :action => "new", :option => @option) %>
                </li>
                <li>
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <% flash.each do |a, b| %>
                <div class="alert alert-success"> <%= b %> </div>
            <% end %>